
@{
    /**/

    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutFrontDesign.cshtml";
}
@foreach (var item2 in ViewBag.jobcatshow)
{
    <section class="category section bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 f-category">
                    <a href="@Url.Action("BrwoseJob","JobSeeker", new { id=item2.job_cat_id})">
                        <h3>
                            @item2.job_cat_name
                    </h3>
                </a>
            </div>
        </div>
    </div>
</section>
}



@foreach (var item in ViewBag.showjob)
{
    if (item.JobStatus == 1)
    {
        <div class="jobs-latest">
            <div class="col-lg-6 col-md-12 col-xs-12">
                <div class="img-thumb">
                    <img src="~/assets/img/features/img-1.jpg" alt="">
                </div>
                <div class="content">
                    <h3><a href="job-details.html">@item.Role</a></h3>
                    <p class="brand">@item.CompanyName</p>
                    <div class="tags">
                        <span><i class="lni-map-marker"></i>@item.Job_location</span>
                        <span><i class="lni-user"></i>  @item.Contact_person</span>
                    </div>
                    <div class="tag mb-3"><i class="lni-tag"></i>@item.RequiredSkill</div>
                    <span class="full-time">Full Time</span>
                    @foreach (var checkjobstatus in ViewBag.applystatuscheck)
                    {
                        if (Session["jsid"] != null && checkjobstatus.Status == Convert.ToInt32(1).ToString())
                        {
                            <span class="part-time" onclick="">You Have Already Apply</span>
                        }
                        else
                        {

                        }

                    }
                    @if (Session["jsid"] != null)
                    {
                        <form method="post" action="@Url.Action("apply","home")">
                            <input type="hidden" value="@item.JobID" name="JobID" />
                            <input type="hidden" value="@item.JobID" name="Company_ID" />
                            <input type="hidden" value="@Session["jsid"]" name="Job_seekerID" />
                            <button type="submit" class="btn btn-common">Apply</button>
                        </form>
                    }

                </div>
            </div>
        </div>





        <div class="col-12 text-center mt-4">
            <a href="job-page.html" class="btn btn-common">Browse All Jobs</a>

        </div>
        <script>
            function myFunction() {
                alert("Please First you have to Login");
            }
        </script>


    }

}
